/*============================================================
UNIVERSAL CSS STYLING
==========================================================*/
ul {
  text-decoration: none;
  list-style: none;
}


/*============================================================
Media Queries
==========================================================*/
/* Extra Small Phones Phones and tablets (portrait and landscape) ----------- */
@media only screen and (min-width : 200px) {
/* Styles */

    body {
        font-size: .8em;
    }

    h1 {
        font-size: 2em;
    }

    h2, h3, h4, h5, h6 {
        font-size: 1.6em;
    }

    .hide-from-sm {
      display: none;
    }
     /*-----Top Header------*/
    .top-wrap {
        background-color: #eaebeb;
        overflow: hidden;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .quote-btn {
        color: white;
        background-color:rgba(142,153,156, 0.8);
        border: none;
        font-size: .8em;
    }

    .btn-primary,
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:visited,
    .btn-primary:focus {
    background-color: #52b6bc;
    border-color: #52b6bc;
}

     /*-----Top Header End ---*/
    /*---Sticky Nav Mobile---*/

   .top-nav-mobile  {
        position: sticky;
        position: -webkit-sticky;
        top: -1px;
        z-index: 500;
        background-color: #52b6bc; /*#00cdff;*/
        color: white;
        width: 100%;
    }

    .nav-links li {
        display: inline-block;
        margin-left: 5%;
    }

    .nav-links li a {
        color: white !important;
        font-size: 1.2em;
        text-decoration: none;
    }

    .nav-links li a:hover {
        color: rgba(255,255,255,0.5);
    }
    /*---Sticky Nav Mobile End---*/

/*===============================
---HOME PAGE---
Why Clean Bee Container
================================*/



.box-header {
    text-align: center;
}

.box-header::after {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.box-header h1 {
    padding-top: 10%;
    font-size: 2.2em;
}

/*divider*/
.box-header::after {
    display:block;
    content: " ";
    background:#f7657d;
    background-clip:border-box;
    background-origin: padding-box;
    width: 15%;
    height: .5%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.icon-description img {
        width:50px;
        height: 50px;
    }

p.description {
    font-size: 1em;
    padding: 1%;
    margin-top: 2%;
    float: clear;
    margin-bottom: 1%;
}



.kelli img {
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    display:block;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 75%;
}

.list-heading{
    margin-top: 23px;
    width: 80%;
    text-align: left;
    font-weight: 550;
}

.list-para {
    padding-right: 10%;
    text-align: left;
}
/*============================================================
Get Free Estimate Container
==========================================================*/

.estimate-wrapper{
    width: 100%;
    background: #52b6bc ; /*#00cdff;*/
    height: 15em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 5%;
}

.estimate-row {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 10%;
}

.estimate h2{
    width: 100%;
    color: white;
    font-weight: 700;
    line-height: 1.5em;
}

.estimate-btn-bg {
  padding: 10%;

}

.estimate-btn {
    color: white;
    background: #8e999c;
    border: none;
}

.estimate-btn a {
  text-decoration: none;
  color: white;
}

.estimate-btn:hover {
    background: rgba(142,153,156, 0.7);
}

/*============================================================
How it Works Container
==========================================================*/

.works {
    text-align: center;
    padding: 5% 10%;
}

    .works h3 {
        font-weight: 500;
    }

/*=========================
Mobile Footer
==========================*/

footer{
     background-color: rgba(142,153,156, 0.3);
     padding-top:20px;
}

    .menu {
        margin-top: 5%;
    }

.facebook, .twitter, .linkin, .google {
    width: 20px;
    margin-right: 8%;

}

.footer-contact-sm img:hover {
  opacity: .5;
}


.copyright {
    font-size: .7em;
    padding-top: 5%;

}

    .footer-contact {
        margin-left: -7%;
    }

    .footer-contact-logo {
        text-align: center;
    }

    .footer-contact-logo img {
        margin-bottom: 8%;
    }


.address span , .menu span{
   color: black;
   font-weight: 800;
   border-bottom: 1px solid #c7c7c7;
   padding-bottom: 5%;
   margin-bottom: 10%;
   display: block;
   text-transform: uppercase;
   font-size: 1em;
   letter-spacing: .2em;
}

.address li a , .menu li a{
    color:black;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:1em;
}

.address li, .menu li{
    margin-top: 5px;
    list-style: none;
}

.address li a:hover , .menu li a:hover{
    color: #da3e44;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.fa{
    color: #da3e44;
    margin-right: 10px;
    font-size:14px;
}
/*============================================================
*****************ABOUT PAGE STYLE**********
==========================================================*/
    .about-img-wrap {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .about-img-wrap img {
        width: 90%;
    }

.about-header{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 6%;
}

.about-para {
    padding: 10%;
}

.big-about-heading {
    margin-top: 10%;
}

.little-about-heading {
    margin-bottom: 8%;
    font-family: 'Courgette', cursive;
    color: #f7657d;
}

.mission h2 {
    margin-top: 5%;
   margin-bottom: 5%;

}

.mission ul {
    padding-right: 6%;
    margin-left: -9%;
    }

.check {
    background-size: 25px;
    width: 20px;
    height: 20px;
    margin-right: 5%;
}

.vision h2 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.vision p {
    margin-bottom: 15%;
    }

.img-heading {
  font-size: 1.5em;
  color: #f7657d;
}

.bottom-about-img {
width: 80%;
height: auto;
margin-left: auto;
margin-right: auto;
}

.img-word {
font-size: 1.3em;
padding-left: 5%;
padding-right: 5%;
padding-top: 3%;

}

.about-image-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
    text-align: center;

    }

    .about-image-container img {
        padding-top: 5%;
        padding-bottom: 5%;
    }

/*============================================================
*****************SERVICE PAGE STYLE**********
==========================================================*/
.portfolio h1 {
font-size: 2em;
text-align: center;
}

.portfolio h2 {
  font-family: 'Courgette', cursive;
  color: #f7657d;
  text-align: center;
  font-size: 1.5em;
}

.portfolio img {
 margin: -10% auto;
 padding: 20%;
}

.portfolio {
margin-top: 10%;
margin-bottom: 10%;
}



.service-heading {
    text-align: center;
    font-size: 2em;
    margin-bottom: 14%;
    margin-top: 15%;
}
    .services {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .services img {
        border-radius: 50%;
        margin-bottom: 5%;
    }
    .services h5 {
        font-size: 1.8em;
        font-weight: 500;
    }
    .services p {
        padding-right: 5%;
        padding-left: 5%;
    }
    .services button {
        margin-bottom: 15%;
    }

    .learn-more {
        background-color: #52b6bc;
       border:none;
    }
    
    .learn-more a {
        text-decoration: none;
        color: white;
    }

    .learn-more:hover {
        background-color: rgba(82, 182, 188, 0.7);
    }



.price-plan {

    margin-top: 10%;
    margin-bottom: 15%;
    padding-right: 10%;
    }

    .price-plan h5 {
    font-size: 1em;
    }
    .price-plan h6 {
    font-size: 1.3em;
    }

/*----------Background Color for Pricing-------------*/
/*============================================================
BACKGROUND COLORS
============================================================*/
.db-bk-color-one, .db-bk-color-two, .db-bk-color-three {
    background-color: rgba(142,153,156, 0.2);
}
/*============================================================
PRICING STYLES
==========================================================*/
/*Pricing Container Padding and Margin*/
.db-padding-btm {
	padding-bottom: 50px;
}
/*Button font and bg color*/
.db-button-color-square {
	color: #fff;
    background-color: #52b6bc;
    font-size: .8em;
}
/*Button when hovered*/
.db-button-color-square:hover {
	color: #fff;
    background-color: rgba(82, 182, 188, 0.7);
}
/*Price box text and box shadow*/
.db-pricing-eleven {
	margin-bottom: 30px;
	margin-top: 50px;
	text-align: center;
	line-height: 25px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.6);
}
/*Pricing List Styles*/
.db-pricing-eleven ul {
        line-height: 1px;
        list-style: none;
        margin: 1%;
        text-align: center;
        padding-left: 0%;
        font-size: .9em;
}
.db-pricing-eleven ul li {
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
}
 /*Top half pricing background $ */
.db-pricing-eleven .price {
	background-color: #52b6bc;
	font-weight: 900;
	color: #FFFFFF;
    padding: 12% 10% 8% 10%;
    font-size: 2em;

}
/*Small wording (starting price) */
.db-pricing-eleven .price small {
	margin-top: 22px;
    color: #fff;
    display: block;
    font-size: 0.3em;
}
/*Cleaning Type Background and Words */
.db-pricing-eleven .type {
	background-color: rgba(0, 0, 0, 0.1);
    padding: 5%;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.1em;
}

    .db-wrapper {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
.db-pricing-eleven .pricing-footer {
	padding: 8%;
}
.db-attached > .col-lg-4, .db-attached > .col-lg-3, .db-attached > .col-md-4, .db-attached > .col-md-3, .db-attached > .col-sm-4, .db-attached > .col-sm-3 {
	padding-left: 0;
	padding-right: 0;
}
/*Middle Pricing Container*/
.db-pricing-eleven.popular {
	margin-top: 20%;

}
.db-pricing-eleven.popular .price {
	padding-top: 40px;
}
/* additions*/
.type span {
	display:block
}
db-pricing-eleven.popular {
	margin: 10px -20px 0;
	position: relative;
	z-index: 2;
}
.db-pricing-eleven .pricing-footer.mid-pricing-footer {
	padding-bottom:20px;
}

  .price-plan {
    margin-left: 15%;
  }

  .price-plan h2 {
    font-size: 1.7em;
      font-weight: 550;
  }

.price-plan h5 {
    font-family: 'Courgette', cursive;
    color: #f7657d;
    font-size: 1em;
  }

.price-plan h2 {
    font-weight: 550;
  }


/*============================================================
*****************TESTIMONIAL PAGE STYLE**********
==========================================================*/

/*----TESTIMONIAL HEADER-------*/
.test-img {
  background-color: #eaebeb;
    }
     .test-img img {
     width: 100%;
     opacity: .3;
    }

    .test-head {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    .test-head h4 {
        font-size: 1.8em;
        font-weight: 600;
        color:#5c5c5c;
        text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
        padding-top: 10%;
    }

/*-----TESTIMONIAL HEADER END-------*/


.quote-wrapper {
  padding-left: 5%;
  padding-right: 10%;
  margin-top: 5%;
  margin-bottom: 15%;

}
.quote-container {
    text-align: center;
}

.quote-icon {
    width: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10%;
}

.quote-container blockquote {
    text-align: justify;
    padding-right: 7%;
    padding-left: 7%;
}

.quote-container p {
    text-align: right;
    clear: both;
}

.quote-line {
    width: 15%;
    color: #f7657d;
    border: solid 2px #f7657d;
    float: right;
}

    .test-name {
        font-weight: 600;
    }

/*============================================================
*****************CONTACT PAGE STYLE**********
==========================================================*/

.contact-info {
  padding-right: 10%;
  padding-left: 10%;
}

.contact-info h3 {
    margin-top: 10%;
    font-size: 2em;
}

.contact-info h6 {
    font-size: 1.3em;
    padding-left: 1%;
    font-family: 'Courgette', cursive;
    color: #f7657d;
}

   ul.contact-list li {

    }

.call {
    width: 30px;
    margin-right: 10%;
}
.call-us{
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 15%;
}
.num {
    font-size: 1.2em;
}

.num a, .e-mail a {
    color: black;
    text-decoration: none;
    margin-left: 20%;
}
.mail {
    width: 30px;
    margin-right: 10%;
}
.email-us {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 5%;
}
.e-mail {
    font-size: 1.1em;
}

.like {
    width: 30px;
    margin-right: 10%;
}
.like-us {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 5%;
    margin-top: 5%;
}

.lil-facebook {
    width: 30px;
    margin-right: 2%;
    margin-left: 20%;
}
.lil-twitter {
    width: 30px;
    margin-right: 2%;
}
.lil-linkin {
    width: 30px;
    margin-right: 2%;
}
.lil-google{
    width: 30px;
    margin-right: 2%;
}

.break-style {
    clear:both;
}

.sub-btn {
    background-color: #52b6bc;
    border: none;
    border-radius: 5%;
    font-weight: 500;
    text-shadow: 1px 1px #bbb;
    margin-bottom: 10%;
}

.sub-btn:hover {
    background-color: rgba(82, 182, 188, 0.7);
}

/*--Contact Form Validation Styles--*/
input:focus:valid {
  background: url("../imgs/go.png")  right no-repeat;
}
input:focus:invalid {
  background: url("../imgs/stop.png")  right no-repeat;
}


}/*-Extra Small Phones and tablets End--*/

/* Tablets and Ipads (portrait and landscape) ----------- */
@media only screen and (min-width : 576px) {

/* Styles */
/*----------------
HOME PAGE
-----------------*/
.carousel-text {
  position: absolute;
  top: 65%;
  right: 15%;
  transform: translate(20%, 50%);
  text-shadow: 1px 1px 1px #fff;
}
.carousel-text2 {
  position: absolute;
  top: 65%;
  left: 1%;
  transform: translate(20%, 50%);
  text-shadow: 1px 1px 1px #fff;
}
.carousel-text3 {
  position: absolute;
  top: 65%;
  left: 1%;
  transform: translate(20%, 50%);
  text-shadow: 1px 1px 1px #fff;
}

.carousel-text h3 {
  color: #397c80;
  font-size: 2.5em;
}

.carousel-text p {
  font-size: 2em;
  font-family: 'Courgette', cursive;
  color: #f7657d;
}
.carousel-text2 h3 {
  color: #397c80;
  font-size: 2.5em;
}

.carousel-text2 p {
  font-size: 2em;
  font-family: 'Courgette', cursive;
  color: #f7657d;
}
.carousel-text3 h3 {
  color: #397c80;
  font-size: 2.5em;
}

.carousel-text3 p {
  font-size: 2em;
  font-family: 'Courgette', cursive;
  color: #f7657d;
}

.estimate-row {
  padding: 5%;
}

.estimate-btn-bg {
  padding-top: 10%;
}

.estimate-btn {
  margin-top: 10%;
}

.portfolio img {
  margin: 0 auto;
  padding: 20%;
}

.service-wrapper {
  margin:0;
  padding:0;
  float: left;
}

.price-plan h2 {
  font-size: 2.5em;
}

.price-plan h5 {
  font-size: 1.5em;
}

.price-plan h6 {
  font-size: 1.5em;
}

.price-plan p {
  font-size: 1.1em;
}


}/*---end

/* Tablets and Ipads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) {
/* Styles */

/*----------------
HOME PAGE
-----------------*/
/*--Nav--*/
.nav-item img {
width: 150px;

}

/*---Top Header---*/
.top-wrap {
  padding-left: 20%;
}
/*---Top Header End---*/

/*---Footer---*/
footer {
  padding-top: 5%;
  padding-bottom: 3%;

}

.footer-contact-logo {
  margin-left: 1%;
  padding-right: 7%;
}

.footer-contact-logo img {
  width: 50%;
}

.footer-contact {
  padding-left: 5%;
}

.footer-contact-sm {
  margin-right: 1%;
  padding-left: 5%;
}

.copyright {
  margin-left: 1%;
  text-align: center;
  font-size: .8em;
}

/*---Footer End---*/

/*----Desktop Nav Bar----*/
.hide-from-md-lg {
  display: none;
}

.hide-from-sm {
  display: inherit;
}
.top-nav  {
     position: sticky;
     position: -webkit-sticky;
     top: -1px;
     z-index: 500;
     background-color: #52b6bc; /*#00cdff;*/
     color: white;
     width: 100%;
 }

 .nav-ul a {
   color: white;
   font-size: 1.5em;
 }

.nav-ul a:hover {
  color: rgba(255,255,255,0.5);
}

.nav-ul a img {
  padding-right: 70%;
}

.kelli {
margin-top: 50%;
}
/*---Desktop Nav Bar End---*/
/*----------------
ABOUT PAGE
-----------------*/
.about-img-wrap img {
  margin-bottom: 10%;
}
.vision, .mission {
  margin-bottom: 10%;
}
.about-image-container img {
  width: 100%;
}

.big-about-heading {
  margin-top: -40%;
}

/*----------------
SERVICE PAGE
-----------------*/


/*----------------
TESTIMONIAL PAGE
-----------------*/
/*----TESTIMONIAL Slider------*/

/*--slider container--*/
.testimonial {
  background-image: url("../imgs/cleaners2.jpg");
  width: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

/*Custom Slider*/
#slides {
    position: relative;
    list-style-type: none;
    color: #397c80;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-right: auto;
    margin-left: auto;
}
#slides p {
  padding-top: 10%;
  font-size: 1.5em;
  text-align: center;
  font-weight: 500;
}

#slides h5 {
  text-align: right;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

#prev,  #next {
  color: #397c80;
  font-size: 2em;
  text-decoration: none;
  top: 125px;
  width: 50px;
  line-height: 50px;
  position: absolute;
  transform: translayteY(-50%);
  transition: all 150ms ease;
}

#prev:hover, #next:hover {
  opacity: 0.5;
}

#prev {
  left: 10px;
}

#next {
 right: 10px;
}
/*Custom Slider END*/

    .test-head {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    .test-head h4 {
        font-size: 1.8em;
        font-weight: 600;
        color:#5c5c5c;
        text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
        padding-top: 5%;
    }

/*-----TESTIMONIAL HEADER END-------*/

/*----------------
CONTACT PAGE
-----------------*/



} /*--Tablets and Ipads---*/


/* Tablets and Ipads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 933px) {

/* Styles */
/*----------------
HOME PAGE
-----------------*/
/*--Nav--*/
.nav-item img {
width: 250px;
padding-bottom: 1%;
padding-top: -2%;
margin-top: -2%;
}



.nav-ul {
  padding-top: 2%;
}

.nav-ul a {
  color: white;
  font-size: 1.2em;
}

.nav-ul a img {
  padding-right: 50%;
}
/*---Nav End---*/

.portfolio img {
 width: 150%;
}

.portfolio {
margin-top: 10%;
margin-bottom: 10%;
}

} /*---end--*/

@media only screen and (min-width : 934px) {

.nav-item img {
width: 400px;
}
}/*--end--*/

/* Tablets and Ipads (portrait and landscape) ----------- */
@media only screen and (min-width : 839px) {



/*----------------
HOME PAGE
-----------------*/
.estimate h2 {
 padding-top: 10%;

}

.estimate-btn {
  margin-top: 20%;
}

/*----------------
SERVICES
-----------------*/
.portfolio img {
 width: 150%;
}



}/*---end

/* Tablets and Ipads (portrait and landscape) ----------- */
@media only screen and (min-width : 992px) {

/* Styles */
/*----------------
HOME PAGE
-----------------*/
.kelli {
margin-top: 10%;
}

.estimate-wrapper{
  padding-bottom: 20%;
}

.estimate h2 {
 padding-top: -10%;
}

.estimate-btn {
  margin-top:20%;
}

.big-about-heading {
  margin-top: -20%;
}
/*----------------
SERVICES
-----------------*/


.service-heading {
  font-size: 2.7em;
}

.services p {
  font-size: 1.2em;
}

/*----------------
TESTIMONIAL
-----------------*/
/*---testimonial slider---*/
#slides p {
  padding-top: 5%;
}

.test-head {
  font-size: 1.6em;
}

.quote-wrapper {
  font-size: 1.2em;
}

.quote-wrapper p {
  font-size: 1.2em;
}

/*----------------
CONTACT
-----------------*/

.intouch-wrap {
  margin-top: 10%;
}

.contact-form form {
  width: 80%;
}

.contact-form h3 {
  font-size: 2em;
}

.contact-form h6 {
    font-size: 1.3em;
    padding-left: 1%;
    font-family: 'Courgette', cursive;
    color: #f7657d;
}

}/*---end


/* Tablets and Ipads (portrait and landscape) ----------- */
@media only screen and (min-width : 992px) {

/* Styles */
/*----------------
HOME PAGE
-----------------*/
.top-wrap {
padding-left: 20%;
padding-right: 10%;
padding-top: 2%;
padding-bottom: 2%;
}

.carousel-item img {
  height: 700px;
}

.nav-item img {
  margin-left: 5%;

}

.estimate-head h5  {
  font-size: 2.5em;
}

.quote-btn {
  font-size: 2em;
}

.clean h1 {
  font-size: 3em;
}

.clean p {
  font-size: 1.5em;
}

.estimate-wrapper {
  padding-left: 10%;
}

.estimate h2 {
  font-size: 2.1em;
}

.estimate-btn {
  font-size: 2em;
}

.works h3 {
  font-size: 2em;
}

.works p {
  font-size: 1.5em;
}
/*----------------
FOOTER
-----------------*/
.footer-contact {
  font-size: 1.1em;
}

.footer-contact span {
  font-size: 1.5em;
}
.footer-contact-sm span {
  font-size: 1.5em;
  margin-top: -5%;
}

.footer-contact-sm img {
  width: 15%;
}

/*----------------
ABOUT PAGE
-----------------*/
.about-us h1 {
  font-size: 3em;
}
.about-para h3{
  font-size: 2em;
}

.about-para p {
  font-size: 1.5em;
}

.mission h2 {
  font-size: 2.5em;
}

.mission li {
  font-size: 1.5em;
}

.vision h2 {
  font-size: 2.5em;
}

.vision p {
  font-size: 1.5em;
}

/*----------------
SERVICE PAGE
-----------------*/
.service-heading {
  font-size: 3em;
  margin-top: 7%;
  margin-bottom:7%;
}

.services h5 {
  font-size: 2em;
  margin-top: 5%;
}

.services p {
  font-size: 1.3em;
}

.portfolio {
  margin-top: 5%;

}

.portfolio  h2 {
  margin-bottom: 5%;
}

.portfolio img {
  padding: 10%;
   width: 80%;
}



.db-bk-color-one {
  margin-right:-25%;
  box-shadow: inset 0px -1px 9px -1px rgba(0,0,0,0.50);
}

.db-bk-color-two{
  width: 100%;
  box-shadow: 0px 10px 17px -1px rgba(0,0,0,0.50);
  z-index: 100;
  border: solid 0.5px rgba(0,0,0,0.5);
  padding-bottom: 7s%;
}
.db-bk-color-three {
  margin-left:-25%;
  box-shadow: inset 0px -1px 9px -1px rgba(0,0,0,0.50);
}

/*----------------
TESTIMONIAL PAGE
-----------------*/
.quote-container {
  font-size: 1.4em;
}

/*----------------
CONTACT PAGE
-----------------*/
.intouch-wrap {
  font-size: 1.5em;
  margin-top: 5%;
  margin-bottom: 5%;
}

.contact-info h3 {
  margin-top: 0;
}

.contact-form form {
  width: 60%;
}

.contact-form {
  padding-left: 10%;
}
}/*--end--*/

/* Tablets and Ipads (portrait and landscape) ----------- */
@media only screen and (min-width : 1200px) {


/*---testimonial slider---*/
.testimonial {
  height: 500px;
}

#slides p {
  padding-top: 5%;
  font-size: 3em;
}

.estimate-row {
  padding: 0;
  font-size: 1.5em;
}

.estimate h2 {
  padding-top: 20%;
}

.estimate-btn-bg {
  padding: 0;
}


}/*--end--*/
