/* Extra Small Phones Phones and tablets (portrait and landscape) ----------- */
@media only screen and (min-width : 200px) {
/* Styles */

.main-content {
margin-top: 10%;
margin-bottom: 10%;
}

.title {
padding-top: 10%;
padding-bottom: 10%;
}
    
.main-title{
text-align:center;
color: #52b6bc;
font-size: 1.5em;
}
    
.sidebar-nav {
    margin-left: -10%;
    margin-right: 5%;
    margin-bottom: 20%;
    }

.sidebar li a {
  font-size: 1.5em;
  text-align: center;
  color: #52b6bc;
  line-height: 2.5em;
  font-weight: 600;
  text-decoration: none;
  margin-right: auto;
  margin-left: auto;
  padding-left: 5%;
  
}

.sidebar li a:hover {
    opacity: .8;
}

.active  {
    background-color: #52b6bc;
}

#active {
    color: white;
}

.title-img img {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 100%;
  height: auto;
}

.sub-title {
  text-align:center;
  color: #52b6bc;
  font-size: 2em;
  margin-top: 10%;
  margin-bottom: 5%;
}
    
.sub-header {
    font-weight: 600;
    font-size: 1.6em;
    margin-bottom: 5%;
}

.sub-descrip{
    font-size: 1.5em;
    padding-bottom: 2%;
}
    
.question {
 font-size: 1.3em;
 font-weight: 700;
    }

.question-form {
 margin-left: auto;
 margin-right: auto;
 padding-left: 15%;
 padding-right: 15%;
 margin-bottom: 20%;

}

.question-form h3 {
  text-align: center;
  color: #52b6bc;
  font-size: 2em;
  padding-left: 1%;
  padding-right:.5%;
 }
} /*--media query end--*/

/* Tablets and Ipads (portrait and landscape) ----------- */
@media only screen and (min-width : 992px) {

/* Styles */
.main-content {
margin-top: 2%;
margin-bottom: 2%;
}

.title {
padding-top: 5%;
padding-bottom: 3%;
font-size: 1.5em;
}    
    
.sidebar-nav {
    margin-left: 0%;
    margin-right: 5%;
    margin-bottom: 20%;
    }

.sidebar li a {
  font-size: 1.5em;
  padding-left: 5%;
}
    
} /*--media query end--*/








































